<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>Password recover request for <%= @user.email %> and <%= @user.nickname %></h1>

    <p>
      There was a password request for your Chist account. If this wasn't you, please consider changing your password
      immediately.
    </p>
  </body>
</html>